<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brian.muxic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayTopArtist"
            android:label="Top Artists"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DisplayTopTracks"
            android:label="Top Tracks"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DetailedArtistViewActivity"
            android:label="Detailed Artist View"
            android:parentActivityName=".DisplayTopArtist" />
        <activity
            android:name=".DetailedTrackViewActivity"
            android:label="Detailed Track View"
            android:parentActivityName=".DisplayTopTracks" />
        <activity
            android:name=".FavouritesMenuActivity"
            android:label="Favourites Menu"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".DisplayFavouriteArtistsActivity" />
        <activity android:name=".DisplayFavouriteTracksActivity"></activity>
    </application>

</manifest>